<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>Status:</b>
  <%= @person.status %>
</p>

<p>
  <b>Reason:</b>
  <%= @person.reason %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
